
@using SimhoppNET5.Data
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@page "/Scoreboard"
@inject IParticipantsService ParticipantsService
@inject ICompetitionServices CompetitionService


@if (status.Value_ == 3)
{
    Current = participants32;
}
@if (status.Value_ == 4)
{
    Current = participants16;
}
@if (status.Value_ == 5)
{
    Current = participants8;
}
@if (status.Value_ == 6)
{
    Current = participants3;
}

@if (Current == null)
{
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    </head>
    <body>
        <section class="custom">
            <!--for demo wrap-->
            @if (status.Value_ == 3)
            {
                <h1>Quarter Finals Live Scoreboard</h1>
            }
            @if (status.Value_ == 4)
            {
                <h1>Semi Finals Live Scoreboard</h1>
            }
            @if (status.Value_ == 5)
            {
                <h1>Finals Live Scoreboard</h1>
            }
            @if (status.Value_ == 6)
            {
                <h1>Winners</h1>
            }
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Club</th>
                            <th>Total Score</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        @foreach (var participant in Current)
                        {
                            <tr>
                                <td>@participant.FirstName</td>
                                <td>@participant.LastName</td>
                                <td>@participant.club</td>
                                <td>@participant.Total_results</td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </section>

    </body>
</html>

}

@code {

    IEnumerable<Participants> participants32;
    IEnumerable<Participants> participants16;
    IEnumerable<Participants> participants8;
    IEnumerable<Participants> participants3;
    IEnumerable<Participants> Current;


    CompetitionStatus status = new CompetitionStatus();
    protected override async Task OnInitializedAsync()
    {
        status = await CompetitionService.GetStatus();
        participants32 = await ParticipantsService.Top32();
        participants16 = await ParticipantsService.Top16();
        participants8 = await ParticipantsService.Top8();
        participants3 = await ParticipantsService.Top3();
    }

}

