@using SimhoppNET5.Data
@inject ICompetitionServices CompetitionService


@if (status.Value_ >= 0 && status.Value_ <= 6)
{
    <AuthorizeView Roles="Admin, Judge1, Judge2, Judge3">
        <Authorized>
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="Scoreboard">Simhopp</a>
                <button class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Scoreboard">
                            <span class="oi oi-home" aria-hidden="true"></span> Live ScoreBoard
                        </NavLink>
                    </li>
                    @if (status.Value_ == 1)
                    {
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="participantadd">
                                @* refers to partipantadd under pages*@
                                <span class="oi oi-plus" aria-hidden="true"></span> Apply here
                            </NavLink>
                        </li>
                    }
                <AuthorizeView Roles="Admin" Context="AuthAdmin">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ParticipantList">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Participants List
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="CompetitionManagament">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Compeition Stat
                        </NavLink>
                    </li>
                </AuthorizeView>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ParticipantsScore">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Participants Score
                        </NavLink>
                    </li>
                </ul>
            </div>
        </Authorized>

        <NotAuthorized>
         
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="Scoreboard">Simhopp</a>
                <button class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Scoreboard">
                            <span class="oi oi-home" aria-hidden="true"></span> Live ScoreBoard
                        </NavLink>
                    </li>
                    @if (status.Value_ == 1)
                    {
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="participantadd">
                                @* refers to partipantadd under pages*@
                                <span class="oi oi-plus" aria-hidden="true"></span> Apply Here
                            </NavLink>
                        </li>
                    }
                </ul>
            </div>

        </NotAuthorized>
    </AuthorizeView>
}



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    CompetitionStatus status = new CompetitionStatus();

    protected override async Task OnInitializedAsync()
    {
        status = await CompetitionService.GetStatus();
    }
}



